Bonjour,

nous confirmons que vous êtes inscrit à la newsletter de connexion-française pour la région <%= @message['zonegeo'] %>.

Vous pouvez vous déinscrire facilement en vous rendant à l'adresse suivante :
http://www.connexion-francaise.com/articles/deinscription-newsletter