body { 
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
	background: #C3A679;
}

input {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 12px;
}

#container { background: #C3A679; text-align: center; min-width: 760px; margin: 100px 0; }
.wrapper { width: 400px; margin: 0 auto; text-align: left; border: 5px solid #AF9567; background: #FFFEDC; }
#content { padding: 20px; }
form { margin-left: 10px; }
form div { margin: 10px 0; }
form label { display: block; float: left; width: 10em; padding: 3px 0; margin: 0; }
form input { display: inline; padding: 3px 0; margin: 0; width: 200px; }
input.checkbox { width: auto; margin: 0; margin-left: 10em; padding: 0; }
input.button { margin-left: 10em; width: auto; }

#notice, #error { margin: 2em 0 ; }
#error { color: red; }

/* =form errors
------------------------------------------------*/
.fieldWithErrors { display:inline	}
.fieldWithErrors input { }
#ErrorExplanation { float:left; width:95%; border: 2px solid red; padding-bottom: 12px; margin: 20px 0; background-color: #f0f0f0; }
#ErrorExplanation h2 { font-size: 1.1em; text-align: left; font-weight: bold; padding: 5px 5px 5px 15px; margin: 0; background-color: #c00; color: #fff; }
#ErrorExplanation p { color: #333; margin-bottom: 0; padding: 5px; }
#ErrorExplanation ul { margin-top: 10px; margin-left: 5px; } 
#ErrorExplanation ul li { list-style: square; }

