<div id="main">

	<% unless @newsletter.nil? -%>
	  <%= error_messages_for 'html_newsletter', {
		 	:header => "something gone wrong"
	  } %>
	<% end -%>
	

	<% form_for :html_newsletter, :url => { :action => "new" } do |f| %>
	  <%= render :partial => "form", :locals => { :f => f } %>
	  <p>
	    <%= submit_tag l("Create") %>
	    <%= link_to l("cancel"), :action => "index" %>
	  </p>
	<% end %>

</div>