<div id="flags">
  <%= link_to "fr", { :controller => "/language", :action => "set_lang", :id => "fr" }, :class => "fr" %>
  <%= link_to "de", { :controller => "/language", :action => "set_lang", :id => "de" }, :class => "de" %>
</div>
