<img src="/images/box_red.gif" class="hiddenImage" />
<img src="/images/borders_red.gif" class="hiddenImage" />
<img src="/images/box_orange.gif" class="hiddenImage" />
<img src="/images/borders_orange.gif" class="hiddenImage" />
