<div class="cbb orange" id="jobs">
	<h2>Connexion Emploi</h2>
	<%= read_offer_rss("www.connexion-emploi.com/offers/feed.rss",3) %>
	<p class="joblink"><a href="http://connexion-emploi.com">+ d'offres</a></p>
</div>