<div id='newsletter' class='box'>
  <h3><a href='<%= new_newsletter_path %>'>Newsletter&nbsp;<span>&rsaquo;</span></a></h3>
  <p><a href='<%= new_newsletter_path %>'>Abonnez vous à notre newsletter et recevez chaque mois des infos pratiques et locales</a></p>
</div>