<div id="reaction">
  <p>N’hésitez pas à nous <a href="#" class="contact">contacter</a> pour plus d’information ou question plus précise, nous vous aiderons dans vos démarches ou vous orienterons vers un partenaire dans votre région.</p>
  
  <%= render :partial => "reactions/form" %>  
  
</div>