<br/><a target="blank" title="rencontres.de Die deutsch-französische Zeitschrift - La revue franco-allemande" href="http://www.rencontres.de/" id="rencontre"><img alt="rencontres.de" src='../images/rencontres320.gif'></a><br/><br/>
<a target="blank" title="la gazette de berlin" href="http://www.lagazettedeberlin.de/" id="rencontre"><img alt="la gazette de berlin" src='../images/gazette_logo_fin.gif'></a>