<div id="sidebar">
  <%= render :partial => "shared/newsletter" %>
  <%= render :partial => "shared/facebook_likebox" %>
  <%= render :partial => "shared/pub_sidebar" %>
</div>

<% content_for(:head) do %> 
<% end %>