<% unless @list.nil? -%>
  <%= error_messages_for 'list', {
	 	:header => "something gone wrong"
  } %>
<% end -%>

<% form_for :list, :url => { :action => 'new' } do |f| -%>
	<p><%= l("Name") %> <%= f.text_field :name %></p>
	<p>
		<%= submit_tag l('Create') %>
 		<%= link_to l("cancel"), :action => "index" %>
	</p>
<% end %>