<h1>Formulaire de désinscription</h1>

<form action="/newsletter/signingout" id="newsletter">
  <p>
    <label>Email</label>
    <input name="mail" type="text" size="35" class="email" /></p>
  <p> 
  <input type="submit" value="Déinscription" class="bouton" /> 
  </p>
</form>