<% @page_title = l('Forgot Password') -%>

<%= form_tag %>
<% if flash[:notice] -%>  
<div id="notice">
  <em><%= l(flash[:notice]) %></em>
</div>
<% end -%>

<% if flash[:error] -%>  
<div id="notice">
  <em><%= l(flash[:error]) %></em>
</div>
<% end -%>

<div>
  <label for="email"><%= l('Email Address') %></label>
  <%= text_field_tag 'email' %>
</div>

<div><%= submit_tag l('Forgot Password'), :class => "button" %></div>
</form>
