<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title || 'Connexion Française - Le site des français et francophones en Allemagne' %></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "reset", "styles", :media => 'all' %>
    <%= render :partial => 'shared/javascript' %>
    <%= yield :head %>
  </head>
  <body id="category">
    <%= render :partial => "shared/header" %>
    <div id="content">
      <div id="main">
        <%= render :partial => "shared/nav" %>
        
        <div id="left">
          <%= render :partial => "shared/category_menu" %>
        </div>
        <div id="right">
          <%= yield %>
        </div>
      </div>
      <%= render :partial => "shared/sidebar" %>
    </div>
    <%= render :partial => "shared/footer" %>
  </body>
</html>